@import "tailwindcss";

/* CSS Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind Variables 
--color-primary = bg-primary 
--color-background = bg-background and so on */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #fa7275;
  --color-dark-text: #4c596a;
  --color-muted: #9db2ce;
  --color-off-white: #f2f5f9;

  --color-green-accent: #3dd9b3;
  --color-tan-accent: #f9ab72;
  --color-purple-accent: #eea8fd;
  --color-blue-accent: #56b8ff;

  --color-error: #b80000;
}

/* Dark Mode 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;      
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  font-family: var(--font-poppins);
}

@layer utilities {
  .center {
    @apply flex h-screen items-center justify-center;
  }

  .h1 {
    @apply text-[34px] leading-10.5 font-bold;
  }

  .container {
    @apply mx-auto max-w-7xl px-5;
  }

  .primary-btn {
    @apply bg-primary hover:bg-primary transition-all rounded-full;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}

h1 {
  font-weight: 700; /* Bold */
  font-size: 34px;
  line-height: 42px;
}

h2 {
  font-weight: 700; /* Bold */
  font-size: 24px;
  line-height: 36px;
}

h3 {
  font-weight: 500; /* Medium */
  font-size: 20px;
  line-height: 28px;
}

h4 {
  font-weight: 500; /* Medium */
  font-size: 18px;
  line-height: 20px;
}

h5 {
  font-weight: 600; /* Semibold */
  font-size: 16px;
  line-height: 24px;
}

p {
  font-weight: 400; /* Regular */
  font-size: 16px;
  line-height: 24px;
}
